.dark
  --bg-color: #282828
  --inverted-bg-color: #e1e1e1

  --primary-color: #ead8d8
  --secondary-color: #b6a7a7
  --inverted-primary-color: #000628
  --inverted-secondary-color: rgba(0, 12, 63, 0.49)
