.light
  --bg-color: #e1e1e1
  --inverted-bg-color: #282828

  --primary-color: #000628
  --secondary-color: rgba(0, 12, 63, 0.49)
  --inverted-primary-color: #ead8d8
  --inverted-secondary-color: #b6a7a7
